h1= title
p Want to buy someone a drink? First you need an account. How do you get an account? Someone needs to buy you a drink first.

p Contact thirsty@pinmonkey.com to learn more.

p Look! It's some folks who earned some drinks:
ul#users
  - each user in users
    li
      a( href="/users/#{user.name}" )= user.name
      em earned #{user.drinks.length} drink(s)
script( src="http://cdn.sockjs.org/sockjs-0.3.min.js" )
script
  var sock = new SockJS(window.location.origin+'/round/');
  sock.onopen = function() {
    console.log('open');
  };
  sock.onmessage = function(e) {
    console.log('message', e.data);
  };
  sock.onclose = function() {
    console.log('close');
  };
