h1= title
p Want to buy someone a drink? First you need an account. How do you get an account? Someone needs to buy you a drink first.

p Contact thirsty@pinmonkey.com to learn more.

p Look! It's some folks who earned some drinks:
ul#users
  - each user in users
    li
      a( href="/users/#{user.name}" )= user.name
      em earned #{user.drinks.length} drink(s)
