!!!
html
  head
    title= title
    link( rel='stylesheet', href='/stylesheets/style.css')
    link( href="/images/favicon.png", rel="icon", type="image/x-icon")
  body
    section
      != body
    footer
      a( href='http://www.pinmonkey.com' )
        img( 'src'='/images/pinmonkey.png', alt='pinmonkey')
