@font-face {
  font-family: 'pinmonkey';
  src: url("/fonts/pinmonkey.svg") format('svg');
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  font-size: 16px;
  color: #333;
  background: #eee;
}
body {
  font-size: 62.5%;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 2em;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
h2 {
  color: #222;
}
.sup {
  vertical-align: super;
  color: #222;
}
strong {
  font-style: bold;
  color: #222;
}
a:link {
  color: #2c5aa0;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
a:visited {
  color: #369;
}
.button {
  display: inline-block;
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  overflow: none;
  vertical-align: top;
  color: #333;
  text-decoration: none;
  padding: 0 0.4em;
  font-size: 1.4em;
  margin-bottom: 1.429em;
  margin-top: 1.429em;
  transition: border 2s;
  -moz-transition: border 2s;
  -webkit-transition: border 2s;
  -o-transition: border 2s;
}
.button:hover {
  border: 1px solid #666;
}
.button.opt {
  margin: 2px 0;
  border-radius: 0;
}
.button.opt:first-child {
  border-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.button.opt:last-child {
  border-radius: 2px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
li.button.opt.off {
  background: none;
  border: 1px solid transparent;
}
.button a {
  color: #c33;
}
form {
  padding: 10px;
  width: auto;
  margin: 10px 0;
}
form div {
  padding: 10px;
}
form div.message {
  border: 1px solid #ccc;
  background: #ffc;
  border-radius: 2px;
  padding: 10px;
  position: relative;
}
form div.message p {
  margin: 0;
}
form div.message:after {
  content: "";
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #ffc transparent;
  display: block;
  position: absolute;
  bottom: -10px;
  left: 5px;
}
form div.message:before {
  content: "";
  border-width: 10px 10px 0;
  border-style: solid;
  border-color: #ccc transparent;
  display: block;
  position: absolute;
  bottom: -11px;
  left: 5px;
}
form div.message.error:after {
  border-color: #fdd transparent;
}
form div.message.error {
  background: #fdd;
  color: #900;
  font-weight: bold;
}
form div label {
  display: inline-block;
  min-width: 120px;
  font-size: 1.6em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}
form div label:after {
  content: ":";
}
form div.required label:after {
  content: ":*";
}
form div input {
  display: inline-block;
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 2px;
  overflow: none;
  vertical-align: middle;
  text-decoration: none;
  color: #2c5aa0;
  outline: none;
  font-size: 1.6em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 32px;
  transition: border 1s;
  -moz-transition: border 1s;
  -webkit-transition: border 1s;
  -o-transition: border 1s;
}
form div input:invalid {
  border-color: #c33;
}
form div input:focus:invalid {
  color: #c33;
}
form div input:focus {
  border: 1px solid #2c5aa0;
  color: #89b556;
}
form div input[type="submit"] {
  border: 0;
  padding: 0 12px;
  margin-top: 20px;
  background: #2c5aa0;
  color: #fff;
  font-weight: bold;
  transition: background 1s;
  -moz-transition: background 1s;
  -webkit-transition: background 1s;
  -o-transition: background 1s;
  border-radius: 3px;
}
form div input[type="submit"]:hover:invalid {
  background: #c33;
}
form div input:invalid[type="submit"] {
  background: #c33;
}
::-webkit-validation-bubble {
  border-radius: 2px;
}
::-webkit-validation-bubble-arrow {
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #ddd;
  background: #eee;
}
::-webkit-validation-bubble-message {
  border-radius: 2px;
  box-shadow: none;
  border: 1px solid #ddd;
  background-color: #eee;
  font-size: 14px;
}
::-webkit-validation-bubble-message:before {
  content: '';
  background: none;
}
form div.submit {
  text-align: right;
}
form div input[type="submit"]:hover {
  background: #89b556;
}
form div input[type="submit"]:hover.error {
  background: #c33;
}
form.step2 {
  display: none;
}
body {
  overflow-x: hidden;
}
body section,
body header {
  width: 440px;
  margin: 0 auto;
}
body section h1,
body header h1 {
  display: inline-block;
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 2px;
  height: 80px;
  font-size: 1.6em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  line-height: 80px;
}
body section h1 a,
body header h1 a {
  text-decoration: none;
  padding: 1em;
}
body section menu,
body header menu {
  margin: 0;
  padding: 5px 0;
  text-align: right;
}
body section menu li,
body header menu li {
  list-style: none;
  margin: 0;
  display: inline-block;
  margin: 0 2px;
  line-height: 36px;
  text-align: center;
}
body section {
  border: 1px solid #ccc;
  background: #fff;
  border-radius: 3px;
  margin: 20px auto;
  padding: 10px;
  background-image: linear-gradient(bottom, #c8c8c8 11%, #fff 56%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(#fff));
}
body section h1 {
  line-height: 40px;
  font-size: 2em;
  margin-top: 1em;
  height: auto;
  background: none;
  border: none;
}
body section h1 a.button {
  display: inline-block;
  line-height: 12px;
  font-size: 11px;
  margin: 0 5px;
  padding: 0;
  height: auto;
  vertical-align: middle;
}
body section h2 {
  font-size: 1.9em;
  margin-bottom: 1.053em;
}
body section ul {
  list-style: none;
  font-size: 1.6em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}
body section p {
  font-size: 1.6em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}
ul#trackers {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#trackers li {
  list-style: none;
  margin: 10px 0;
  padding: 0 0 0 5px;
  border-left: 5px solid #ddd;
  transition: border 1s;
  -moz-transition: border 1s;
/* Firefox 4 */
  -webkit-transition: border 1s;
/* Safari and Chrome */
  -o-transition: border 1s;
/* Opera */
}
ul#trackers li:hover {
  border-left: 10px solid #900;
}
ul#trackers li a {
  color: #333;
  text-decoration: none;
}
dl#project dt {
  marign: 0;
  padding: 0;
  display: inline-block;
}
dl#project dd {
  display: inline-block;
  list-style: none;
  font-size: 32px;
  font-weight: bold;
  margin: 5px 0;
  padding: 5px 0;
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 2px;
  height: 64px;
  overflow: none;
  vertical-align: middle;
  line-height: 64px;
  padding: 0 4px;
  margin: 2px 10px 2px 4px;
  color: #900;
  text-decoration: none;
  transition: border 2s;
  -moz-transition: border 2s;
/* Firefox 4 */
  -webkit-transition: border 2s;
/* Safari and Chrome */
  -o-transition: border 2s;
/* Opera */
}
ol#iterations {
  list-style: none;
}
ol#iterations li {
  list-style: none;
  border: 1px solid #ddd;
  background: #eee;
  border-radius: 2px;
  font-size: 1.6em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
  padding: 1.25em;
}
ol#iterations li article {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 2px;
  margin: 10px 0;
  overflow: hidden;
}
ol#iterations li article:before {
  display: block;
  float: left;
  height: 40px;
  content: '';
  border-left: 5px solid #89b556;
  margin: 0;
  padding: 0;
  line-height: 40px;
  vertical-align: middle;
}
ol#iterations li article.bug:before {
  border-left-color: #900;
}
ol#iterations li article.bug menu .type {
  display: inline-block;
  text-indent: -80px;
}
ol#iterations li article.bug menu .type:after {
  content: '#';
  color: #900;
  display: inline-block;
  margin: 4px 0 0 75px;
  line-height: 40px;
  font-size: 30px;
  font-family: pinmonkey;
}
ol#iterations li article.release:before {
  border-left-color: #f90;
}
ol#iterations li article.release menu .type {
  display: inline-block;
  text-indent: -100px;
}
ol#iterations li article.release menu .type:after {
  content: '%';
  color: #f90;
  display: inline-block;
  margin: 4px 0 0 75px;
  line-height: 40px;
  font-size: 30px;
  font-family: pinmonkey;
}
ol#iterations li article.chore:before {
  border-left-color: #fc0;
}
ol#iterations li article.chore menu .type {
  display: inline-block;
  text-indent: -80px;
}
ol#iterations li article.chore menu .type:after {
  content: '{';
  color: #fc0;
  display: inline-block;
  margin: 4px 0 0 70px;
  line-height: 40px;
  font-size: 30px;
  font-family: pinmonkey;
}
ol#iterations li article .present {
  display: inline-block;
  overflow: visible;
  width: 40px;
  padding: 0;
}
ol#iterations li article .present:before {
  content: ']';
  display: inline-block;
  margin: 4px 0 0 0px;
  line-height: 40px;
  font-size: 30px;
  font-family: pinmonkey;
  color: #369;
}
ol#iterations li article details {
  padding: 0 15px;
  color: #666;
  white-space: pre-line;
}
ol#iterations li article .notes {
  position: relative;
  z-index: 0;
}
ol#iterations li article .note {
  border: 1px solid #dda;
  margin: 10px 10px 20px;
  padding: 10px;
  display: inline-block;
  width: 350px;
  vertical-align: top;
  position: relative;
  background-image: -moz-linear-gradient(center bottom, #f8f8c8 11%, #ffc 56%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.11, #f8f8c8), color-stop(0.56, #ffc));
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.20), 0 0 65px #eeb inset, 0 0 20px #f9f9c9 inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.20), 0 0 65px #eeb inset, 0 0 20px #f9f9c9 inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.20), 0 0 65px #eeb inset, 0 0 20px #f9f9c9 inset;
}
ol#iterations li article .note:before,
ol#iterations li article .note:after {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 5px;
  width: 50%;
  height: 20%;
  -webkit-box-shadow: 0 15px 10px rgba(0,0,0,0.50);
  -moz-box-shadow: 0 15px 10px rgba(0,0,0,0.50);
  box-shadow: 0 15px 10px rgba(0,0,0,0.50);
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
ol#iterations li article .note:after {
  right: 5px;
  left: auto;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  transform: rotate(2deg);
}
ol#iterations li article menu {
  text-align: left;
  display: inline-block;
  margin: 0;
  padding: 0 10px;
  height: 39px;
  width: 870px;
  border-bottom: 1px solid #ddd;
  overflow: hidden;
}
ol#iterations li article menu li {
  border: 0 none;
  height: 39px;
  background: transparent none;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  text-align: middle;
  padding: 0 10px;
  border: 0 none;
  border-right: 1px solid #ddd;
}
ol#iterations li article menu li.due {
  float: right;
  border: 0 none;
  border-left: 1px solid #ddd;
}
ol#iterations li article menu li.estimate strong {
  font-size: 30px;
  vertical-align: middle;
  margin: 0 2px 0 0;
  color: #89b556;
}
ol#iterations li article menu li.labels {
  border: 0 none;
}
ol#iterations li article h3 {
  padding: 10px 15px 0 25px;
}
#present {
  color: #666;
  font-weight: bold;
}
.game_board {
  width: 480px;
  padding: 20px;
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  text-align: center;
  border-radius: 4px;
}
.game_board h1 {
  font-size: 2em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.game_board h2 {
  font-size: 1.9em;
  margin-bottom: 1.053em;
  margin-top: 1.053em;
}
.game_board .desc {
  display: none;
  background: #fff;
  overflow: hidden;
  border: 1px solid #ddd;
  color: #333;
  margin: -10px;
  padding: 10px;
  font-size: 1.6em;
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}
.game_board .countdown {
  font-size: 75px;
  font-weight: bold;
  color: #900;
  line-height: 120px;
}
.game_board ol li {
  list-style: none;
  display: inline-block;
  width: 100px;
  line-height: 100px;
  font-size: 80px;
  font-weight: bold;
  height: 150px;
  border: 1px solid #eee;
  background: #fff;
  margin: 5px;
  border-radius: 4px;
  background-image: -moz-linear-gradient(center bottom, #f8f8c8 11%, #fff 56%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.11, #f8f8c8), color-stop(0.56, #fff));
  -moz-box-shadow: 0 0 2px rgba(0,0,0,0.20), 0 0 65px #eeb inset, 0 0 20px #f9f9c9 inset;
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.20), 0 0 65px #eeb inset, 0 0 20px #f9f9c9 inset;
  box-shadow: 0 0 2px rgba(0,0,0,0.20), 0 0 65px #eeb inset, 0 0 20px #f9f9c9 inset;
}
.game_board ol li:nth-child(1) {
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
}
.game_board ol li:nth-child(2) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
}
.game_board ol li:nth-child(3) {
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
}
.game_board ol li:nth-child(4) {
  -webkit-transform: rotate(7deg);
  -moz-transform: rotate(7deg);
}
.game_board ol li small {
  clear: both;
  display: block;
  font-size: 22px;
  margin-top: -20px;
  color: #900;
}
.game_board .result {
  font-size: 120px;
  font-weight: bold;
  line-height: 120px;
}
.game_board .close {
  display: block;
  float: right;
  margin: -5px -5px 0 0;
  font-weight: bold;
  font-size: 1.1em;
}
.game_board .button {
  color: #333;
}
details summary:after {
  display: block;
  margin: -20px 0 20px;
  content: "+";
}
details[open] summary:after {
  content: "-";
}
#messages {
  margin: 10px auto;
  font-size: 1.6em;
}
#messages ul {
  list-style: none;
}
#messages ul.error {
  border: 1px solid #900;
  background: #c33;
  padding: 10px;
  border-radius: 2px;
  color: #fff;
  font-weight: bold;
}
section#modals {
  width: 100%;
  font-size: 16px;
  display: none;
  position: fixed;
  margin: 0 0 0 -50%;
  z-index: 101;
  top: 20px;
  left: 50%;
  text-align: center;
  border: 0 none;
  background: none;
}
section#modals .modal {
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 2px;
  box-shadow: 0 0 0px 8px rgba(51,51,51,0.70);
  background: #eee;
}
ol#iterations li article.current {
  z-index: 99;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
ol#iterations li article.current:before {
  height: 100px;
}
ol#iterations li article.current .present {
  display: none;
}
ol#iterations li article.current menu {
  display: block;
  width: auto;
  height: 100px;
  border-top: 0 none;
}
ol#iterations li article.current menu li {
  height: 100%;
  font-size: 1em;
}
ol#iterations li article.current menu li menu {
  width: auto;
}
ol#iterations li article.current menu li menu li {
  border: 0 none;
  display: block;
  height: auto;
}
ol#iterations li article.current.chore menu .type:after,
ol#iterations li article.current.bug menu .type:after {
  line-height: 100px;
  font-size: 80px;
  margin: 10px 0 0 100px;
}
ol#iterations li article.current menu li.estimate strong {
  font-size: 75px;
  line-height: 100px;
}
ol#iterations li article.current h3 {
  line-height: 60px;
  font-size: 48px;
  margin: 20px;
}
ol#iterations li article.current details summary:after {
  display: block;
  margin: -40px 0 20px;
  content: "+";
}
ol#iterations li article.current details[open] summary:after {
  content: "-";
}
details summary::-webkit-details-marker {
  display: none;
}
body {
  background: #eee;
}
ul#users li{
  border: 1px solid #EEE;
  background-color: #FFF;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
}
ul#users li em{
  margin: 0 10px;
}
footer{text-align: center;}
